html {
  font-family: Arial, Helvetica, sans-serif; }

a:link, :visited, :active {
  text-decoration: none;
  color: black; }

.logo {
  position: relative;
  z-index: 100;
  justify-content: center; }

.nombreinstituto {
  color: black;
  font-size: 1rem;
  font-weight: bold;
  position: relative;
  text-align: right; }

nav {
  box-shadow: 0 0.125rem 0.3125rem 0 rgba(2, 0, 0, 0.678); }

nav .navbar-nav li a {
  color: black !important; }

h1 {
  color: black;
  font-size: 25px;
  text-decoration: underline;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 10px;
  color: #0a0a0a;
  text-shadow: 1px 1px 2px white, 0 0 25px #138ff5, 0 0 5px #00098b; }

h2 {
  color: black;
  font-size: 1.2500rem;
  text-decoration: underline;
  background-image: linear-gradient(-225deg, #69EACB 0%, #EACCF8 48%, #6654F1 100%); }

h3,
h4 {
  color: black;
  font-size: large; }

h5 {
  color: black;
  font-size: 18px;
  background: #6ca5e7;
  box-shadow: 0 2px 5px 0 rgba(31, 38, 135, 0.37);
  text-decoration: underline;
  margin-top: 12px; }

.flex-container-inicio {
  display: flex;
  flex-direction: row;
  margin-top: 3rem;
  margin-bottom: 3rem;
  text-align: center;
  justify-content: space-evenly; }

.inscripcion, .importante {
  width: 25rem;
  height: 25rem;
  margin-top: 0.3125rem;
  margin-left: 20px;
  border-radius: 0.3125rem;
  background-image: linear-gradient(-225deg, #69EACB 0%, #EACCF8 48%, #6654F1 100%);
  box-shadow: 0 0.125rem 0.3125rem 0 rgba(31, 38, 135, 0.37); }
  .inscripcion ul, .importante ul {
    margin: 0.6250rem;
    padding: 0.6250rem;
    text-align: justify; }
    .inscripcion ul li, .importante ul li {
      list-style-type: none;
      line-height: 1.875rem; }
  .inscripcion:hover, .importante:hover {
    background: cadetblue; }

.btnbiblioteca {
  width: 250px;
  height: 85px;
  background-image: linear-gradient(-225deg, #69EACB 0%, #EACCF8 48%, #6654F1 100%);
  border-radius: 0.3125rem;
  box-shadow: 0 0.125rem 0.3125rem 0 rgba(31, 38, 135, 0.37); }
  .btnbiblioteca:hover {
    transform: scale(1.1); }

.autoridades {
  margin-right: 15px;
  margin-left: 15px;
  margin-top: 20px; }

.fotofrente {
  border: 0.1875rem solid black;
  display: flex;
  flex-direction: row;
  float: right;
  margin-top: -20rem;
  transition: transform 3s; }
  .fotofrente :hover {
    transform: scale(1.2); }

.historia, .capdistancia, .nuestro {
  text-align: justify;
  color: black; }

.flex-container-fin {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

.lic {
  font-weight: bold; }

.ir-arriba :hover {
  transform: scale(1.2); }

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 0fr 1fr 0fr 1fr;
  gap: 1.2500rem 0.3125rem;
  grid-template-areas: "one one one one one" "two three four five six" "seven seven seven seven seven" "eight nine ten eleven twelve";
  padding-bottom: 0.6250rem;
  margin-bottom: 4.5rem; }
  .container .one {
    margin-top: 0.9375rem;
    animation-name: animate__tada;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
    animation-duration: 4s;
    font-size: 1rem;
    font-weight: bold;
    background: rgba(119, 178, 250, 0.644);
    border-radius: 0.3125rem;
    justify-self: center;
    align-self: center;
    grid-area: one; }

@keyframes animate__tada {
  0% {
    transform: scale 1; }
  25% {
    transform: scale(1.2); }
  50% {
    transform: scale(1); }
  75% {
    transform: scale(1.2npm init); }
  100% {
    transform: scale(1); } }
  .container .two {
    background: rgba(226, 226, 226, 0.555);
    border-radius: 0.3125rem;
    text-align: center;
    justify-items: stretch;
    align-items: stretch;
    align-content: space-between;
    grid-area: two; }
  .container .three {
    background: rgba(226, 226, 226, 0.555);
    border-radius: 0.3125rem;
    text-align: center;
    justify-items: stretch;
    align-items: stretch;
    margin-left: 5px;
    grid-area: three; }
  .container .four {
    background: rgba(226, 226, 226, 0.555);
    border-radius: 0.3125rem;
    text-align: center;
    justify-items: stretch;
    align-items: stretch;
    margin-left: 5px;
    grid-area: four; }
  .container .five {
    background: rgba(226, 226, 226, 0.555);
    border-radius: 0.3125rem;
    text-align: center;
    justify-items: stretch;
    align-items: stretch;
    margin-left: 5px;
    grid-area: five; }
  .container .six {
    background: rgba(226, 226, 226, 0.555);
    border-radius: 0.3125rem;
    text-align: center;
    justify-items: stretch;
    align-items: stretch;
    margin-left: 5px;
    grid-area: six; }
  .container .seven {
    animation-name: animate__tada;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
    animation-duration: 4s;
    font-size: 1rem;
    font-weight: bold;
    background: rgba(119, 178, 250, 0.644);
    border-radius: 0.3125rem;
    justify-self: center;
    align-self: center;
    grid-area: seven; }
  .container .eight {
    background: rgba(226, 226, 226, 0.555);
    border-radius: 0.3125rem;
    text-align: center;
    justify-items: stretch;
    align-items: stretch;
    margin-left: 5px;
    grid-area: eight; }
  .container .nine {
    background: rgba(226, 226, 226, 0.555);
    border-radius: 0.3125rem;
    text-align: center;
    justify-items: stretch;
    align-items: stretch;
    margin-left: 5px;
    grid-area: nine; }
  .container .ten {
    background: rgba(226, 226, 226, 0.555);
    border-radius: 0.3125rem;
    text-align: center;
    justify-items: stretch;
    align-items: stretch;
    margin-left: 5px;
    grid-area: ten; }
  .container .eleven {
    background: rgba(226, 226, 226, 0.555);
    border-radius: 0.3125rem;
    text-align: center;
    justify-items: stretch;
    align-items: stretch;
    margin-left: 5px;
    grid-area: eleven; }

.container-plan {
  display: block;
  margin-right: 15px;
  margin-left: 15px;
  margin-top: 20px;
  font-family: Arial, Helvetica, sans-serif;
  background: rgba(179, 173, 173, 0.15);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18); }

.tituloparrafo {
  text-decoration: underline;
  font-weight: bold;
  font-size: 1rem;
  background-color: #4698c2;
  box-shadow: 0 0.125rem 0.3125rem 0 black; }

.duracionplan {
  text-align: center;
  font-weight: bold;
  text-decoration: underline; }

.infoparrafo {
  text-align: justify;
  padding-left: 10px;
  padding-right: 10px; }

.subtitulo {
  font-weight: bold;
  text-decoration: underline; }

.flex-container-contacto {
  display: flex;
  flex-direction: column;
  margin-top: 1.2500rem;
  justify-content: space-evenly; }

label {
  display: flex;
  margin-top: 0.6rem;
  letter-spacing: 0.0625rem;
  font-family: Arial, Helvetica, sans-serif; }

form {
  width: 320px; }

input, textarea {
  width: 320px;
  height: 1.6875;
  background: #aedaf7;
  border: 0.125rem solid #aedaf7;
  padding: 0.6250rem;
  font-size: 0.6250rem;
  color: #050505; }

textarea {
  height: 9.375rem; }

#submit {
  width: 320px;
  height: 2.1875rem;
  border: none;
  margin-top: 0.6250rem;
  margin-bottom: 0.6250rem;
  cursor: pointer; }

.ubicacion {
  margin-top: 1rem; }

.flex-container-footer {
  margin-top: 2%;
  bottom: 0%;
  width: 100%;
  z-index: 100;
  box-shadow: 0 0 0.5rem 0 rgba(2, 0, 0, 0.808);
  background-color: #e7ebee;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center; }

.c, .d {
  text-align: center;
  line-height: 0rem; }

.redes {
  display: flex;
  flex-direction: row; }

.instagram {
  margin-left: 0.9375rem;
  margin-right: 0.9375rem; }

.whatsapp:hover,
.instagram:hover,
.facebook:hover {
  transform: scale(1.5); }

@media screen and (max-width: 320px) {
  header nav ul li {
    box-shadow: 0 2px 5px 0 rgba(212, 212, 212, 0.918);
    border: 1px solid rgba(255, 255, 255, 0.18);
    background: rgba(69, 110, 245, 0.781);
    background-size: contain; }
  .flex-container-inicio {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .inscripcion, .importante,
  .importante {
    flex-direction: column;
    align-items: center;
    width: auto;
    margin-left: 0%;
    margin-bottom: 5px;
    font-size: 1rem; }
  .fotofrente {
    display: none; }
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    grid-template: subgrid;
    text-decoration: cornsilk; }
  .flex-container-contacto {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .flex-container-footer {
    display: flex;
    flex-direction: column;
    align-items: center; } }

@media screen and (max-width: 480px) {
  header nav ul li {
    width: auto;
    box-shadow: 0 2px 5px 0 rgba(212, 212, 212, 0.918);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    background: rgba(130, 194, 231, 0.781);
    background-size: contain; }
  .flex-container-inicio {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .inscripcion, .importante,
  .importante {
    flex-direction: column;
    align-items: center;
    width: 300px;
    height: auto;
    margin-left: 0%;
    margin-bottom: 5px; }
  .fotofrente {
    display: none; }
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    grid-template: subgrid;
    text-decoration: cornsilk; }
  .flex-container-contacto {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .flex-container-footer {
    flex-direction: column;
    align-items: center; } }

@media screen and (min-width: 768px) {
  header nav ul li {
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border: 2px solid rgba(255, 255, 255, 0.18);
    border-radius: 20px; }
  h1 {
    text-shadow: 2px 1px #ffffff; }
  .flex-container-inicio {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .inscripcion, .importante,
  .importante,
  .btnbiblioteca {
    flex-direction: column;
    align-items: center;
    width: auto;
    height: auto;
    margin-left: 0%;
    margin-bottom: 5px; }
  .fotofrente {
    display: none; }
  .lic1,
  .lic,
  h2,
  ul li {
    font-family: sans-serif; }
  .flex-container-contacto {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center; }
  .flex-container-footer {
    flex-direction: row;
    align-items: center; } }

@media screen and (min-width: 1024px) {
  .flex-container-inicio {
    display: flex;
    flex-direction: row;
    align-items: center; }
  .inscripcion, .importante,
  .importante {
    flex-direction: row;
    align-items: center;
    width: 300px;
    height: 500px;
    margin-left: 0%;
    margin-bottom: 5px; }
  .btnbiblioteca {
    flex-direction: row;
    align-self: flex-start;
    width: 300px;
    height: auto;
    margin-left: 0%; }
  .fotofrente {
    border: 0.1875rem solid #000b70;
    display: flex;
    float: right;
    margin-top: -20rem; }
  .lic1,
  .lic,
  h2,
  ul li {
    font-family: sans-serif; }
  .flex-container-contacto {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center; }
  .flex-container-footer {
    bottom: 0; } }
