.flex-container-contacto {
    display: flex;
    flex-direction: row;
    margin-top: 1.2500rem;
    justify-content:space-evenly;
}

//EMPIEZA FORMULARIO

label {
    display: flex;
    margin-top: 0.9375rem;
    letter-spacing: 0.0625rem; 
}
   
form {
    width: 300px; 
}
  
input, textarea {
    width: 300px;
    height: 1.6875;
    background: #aedaf7;
    border: 0.125rem solid #aedaf7;
    padding: 0.6250rem;
    margin-top: 0.3125rem;
    font-size: 0.6250rem;
    color: #050505; 
}
  
textarea {
    height: 9.375rem; 
}
  
#submit {
    width: 300px;
    height: 2.1875rem;
    border: none;
    margin-top: 0.6250rem;
    margin-bottom: 0.6250rem;
    cursor: pointer; 
}

//IFRAME
.ubicacion {
    margin-top: 1.875rem;
}