.autoridades {
    margin-right: 15px;
    margin-left: 15px;
    margin-top: 20px; 
}

.fotofrente{
    border: 0.1875rem solid black;
    display: flex;
    flex-direction: row;
    float: right;
    margin-top: -20rem;
}

.historia{
    text-align: justify;
    color: black;
}

.capdistancia, .nuestro{
    @extend .historia;
}

.flex-container-fin {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.lic{
    font-weight: bold; 
}

.ir-arriba :hover{
    transform: scale(1.2);
}