.autoridades {
    margin-right: 15px;
    margin-left: 15px;
    margin-top: 20px; 
}


.fotofrente{
    border: 0.1875rem solid black;
    display: flex;
    flex-direction: row;
    float: right;
    margin-top: -20rem;
    transition: transform 3s;

    & :hover{
        transform: scale(1.2);
    }
}

.historia{
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
}

.capdistancia{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: justify;
}

.nuestro{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
}

.lic{
    font-weight: bold; 
}