// MEDIAQUERIES 

@media screen and (max-width: 320px){
    // GENERAL A TODAS LAS PAGS 
    header nav ul li{
        box-shadow: 0 2px 5px 0 rgba(212, 212, 212, 0.918);
        backdrop-filter: blur(20px);
        -webkit-backdrop-filter: blur(20px);
        border: 1px solid rgba(255, 255, 255, 0.18);
        background: rgba(130, 194, 231, 0.781);
        background-size: contain;
    }

    // INDEX 
    .flex-container-inicio{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .inscripcion,
    .importante{
        flex-direction: column;
        align-items: center;
        width: auto;
        height: auto;
        margin-left: 0%;
        margin-bottom: 5px;
    }

    // NUESTRA HISTORIA 
    .fotofrente{
        display: none;
    }

    // OFERTA EDUCATIVA 
    .one,
    .seven {
        background-color: rgb(205, 203, 228);
    }

    .container {
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-items: center;
        background-color: rgb(197, 197, 197);
        grid-template: subgrid;
        text-decoration: cornsilk; 
    }

    .two,
    .three,
    .four,
    .five,
    .six,
    .eight,
    .nine,
    .ten,
    .eleven {
        background-image: rgba(207, 214, 216, 0.836);
        box-shadow: 0 2px 5px 0 rgba(167, 167, 167, 0.719);
        backdrop-filter: blur(20px);
        -webkit-backdrop-filter: blur(20px);
        border: 5px solid rgba(255, 255, 255, 0.18);
        display: grid;
    }

    // PAGINA CONTACTO 
    .flex-container-contacto {
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-items: center;
    }

    // FOOTER 
    .flex-container-footer {
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width: 768px){
    // GENERAL A TODAS LAS PAGS
    header nav ul li{
        box-shadow: 0 2px 5px 0 #7ddff0a8;
        backdrop-filter: blur(20px);
        -webkit-backdrop-filter: blur(20px);
        border: 1px solid rgba(255, 255, 255, 0.18);
        border-radius: 20px;
    }

    h1{
        text-shadow: 2px 1px #ffffff;
    }

    // NUESTRA HISTORIA
    .fotofrente{
        width: auto;
    }

    .lic1,
    .lic,
    h2,
    ul li{
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }

    // OFERTA EDUCATIVA 
    .one,
    .seven{
        background-color: rgb(205, 203, 228);
    }

    .container{
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-items:auto;
        background-color: rgb(230, 230, 230);
        grid-template-columns: repeat(2, 20%);
        grid-template-rows: repeat(2, 20%);
        text-decoration: cornsilk;
    }

    .two,
    .three,
    .four,
    .five,
    .six,
    .eight,
    .nine,
    .ten,
    .eleven{
        background-image: radial-gradient(rgb(255, 255, 255), red);
        box-shadow: 0 2px 5px 0 rgba(5, 27, 150, 0.658);
        border-radius: 15px;
        backdrop-filter: blur(20px);
        -webkit-backdrop-filter: blur(20px);
        border: 0.6250rem solid rgba(255, 255, 255, 0.18);
    }

    // PAGINA CONTACTO 
    .flex-container-contacto {
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-items: center;
    }

    // FOOTER 
    .flex-container-footer{
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (min-width: 1024px){
       
    // OFERTA EDUCATIVA 
    .one,
    .seven{
        background-color: rgb(205, 203, 228);
    }

    .container{
        // background-color: rgb(137, 183, 252);
        grid-template-columns: repeat(auto-fill, 20%);
        grid-template-rows: repeat(auto-fill, 20%);
    }

    .two,
    .three,
    .four,
    .five,
    .six,
    .eight,
    .nine,
    .ten,
    .eleven{
        background-image: radial-gradient(rgb(255, 255, 255), red);
        box-shadow: 0 2px 5px 0 rgba(31, 38, 135, 0.37);
        backdrop-filter: blur(20px);
        -webkit-backdrop-filter: blur(20px);
        border: 1px solid rgba(255, 255, 255, 0.18);
    }

    // FOOTER 
    .flex-container-footer{
        bottom: 0;
    }
}