// MEDIAQUERIES 

@media screen and (max-width: 320px){

    // GENERAL A TODAS LAS PAGS 
    header nav ul li{
        box-shadow: 0 2px 5px 0 rgba(212, 212, 212, 0.918);
        border: 1px solid rgba(255, 255, 255, 0.18);
        background: rgba(69, 110, 245, 0.781);
        background-size: contain;
    }

    // INDEX 
    .flex-container-inicio{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .inscripcion,
    .importante{
        flex-direction: column;
        align-items: center;
        width: auto;
        margin-left: 0%;
        margin-bottom: 5px;
        font-size: 1rem;
    }

    // NUESTRA HISTORIA 
    .fotofrente{
        display: none;
    }

    // OFERTA EDUCATIVA 
    .container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-items: center;
        grid-template: subgrid;
        text-decoration: cornsilk; 
    }

    // PAGINA CONTACTO 
    .flex-container-contacto {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    // FOOTER 
    .flex-container-footer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

}

@media screen and (max-width: 480px){
    // GENERAL A TODAS LAS PAGS 
    header nav ul li{
        width: auto;
        box-shadow: 0 2px 5px 0 rgba(212, 212, 212, 0.918);
        backdrop-filter: blur(20px);
        -webkit-backdrop-filter: blur(20px);
        border: 1px solid rgba(255, 255, 255, 0.18);
        background: rgba(130, 194, 231, 0.781);
        background-size: contain;
    }

    // INDEX 
    .flex-container-inicio{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .inscripcion,
    .importante{
        flex-direction: column;
        align-items: center;
        width: 300px;
        height: auto;
        margin-left: 0%;
        margin-bottom: 5px;
    }

    // NUESTRA HISTORIA 
    .fotofrente{
        display: none;
    }

    // OFERTA EDUCATIVA 
    .container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-items: center;
        grid-template: subgrid;
        text-decoration: cornsilk; 
    }

    // PAGINA CONTACTO 
    .flex-container-contacto {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    // FOOTER 
    .flex-container-footer {
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (min-width: 768px){

    // GENERAL A TODAS LAS PAGS
    header nav ul li{
         
        backdrop-filter: blur(20px);
        -webkit-backdrop-filter: blur(20px);
        border: 2px solid rgba(255, 255, 255, 0.18);
        border-radius: 20px;
    }

    // INDEX 
    .flex-container-inicio{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .inscripcion,
    .importante,
    .btnbiblioteca{
        flex-direction: column;
        align-items: center;
        width: auto;
        height: auto;
        margin-left: 0%;
        margin-bottom: 5px;
    }

    // NUESTRA HISTORIA
    .fotofrente{
        display: none;
    }

    .lic1,
    .lic,
    h2,
    ul li{
        font-family: sans-serif;
    }

    // PAGINA CONTACTO 
    .flex-container-contacto {
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-items: center;
    }

    // FOOTER 
    .flex-container-footer{
        flex-direction: row;
        align-items: center;
    }
}

@media screen and (min-width: 1024px){

    // INDEX 
    .flex-container-inicio{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .inscripcion,
    .importante{
        flex-direction: row;
        align-items: center;
        width: 1100px;
        margin-left: 50px;
    }

    // .btnbiblioteca {
    //     flex-direction: row;
    //     align-self: flex-start; 
    //     width: 300px;
    //     height: auto;
    //     margin-left: 0%;
    // }

    // NUESTRA HISTORIA
    .fotofrente{
        border: 0.1875rem solid rgb(0, 11, 112);
        display: flex;
        float: right;
        margin-top: -20rem;
    }

    .lic1,
    .lic,
    h2,
    ul li{
        font-family: sans-serif;
    }

    // PAGINA CONTACTO 
    .flex-container-contacto {
        display:flex;
        flex-direction: row;
        align-items: center;
        justify-items: center;
    }

    // FOOTER 
    .flex-container-footer{
        bottom: 0;
    }
}