.submenu {
  text-align: center;
  color: white;
  margin-top: 5px;
  background-color: rgb(69, 147, 224);
  box-shadow: 0.1rem 0.125rem 0.3125rem 0 rgba(1, 1, 3, 0.801);
}

.fondotitulo {
  background-image: linear-gradient(
    -225deg,
    #69eacb 0%,
    #eaccf8 48%,
    #6654f1 100%
  );
}

.postitulos {
  @extend .historia;
}



.container {
  display: flex;
  width: 250px;
  height: 30px;
  margin-top: 20px;
  margin-right: 1100px;
  margin-bottom: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  justify-content: center;
  color: white;
  background-color: rgb(69, 147, 224);
  box-shadow: 0.1rem 0.125rem 0.3125rem 0 rgba(1, 1, 3, 0.801);
  animation-name: animate__tada;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
  animation-duration: 4s;

  @keyframes animate__tada {
    0% {
      transform: scale (1);
    }

    25% {
      transform: scale(1.1);
    }

    50% {
      transform: scale(1);
    }

    75% {
      transform: scale(1.1);
    }

    100% {
      transform: scale(1);
    }
  }
}

.flex-container-finb {
  margin-left: 1250px;
  overflow: auto;
  z-index: 100;
}

