 /*.bienvenida {
     margin-right: 130px;
     margin-left: 130px;   
     margin-top: 20px;    
     box-shadow: 0.125rem 0.125rem 0.125rem 0.1rem rgba(1, 1, 1, 0.5);
     backdrop-filter: blur( 20px );
     -webkit-backdrop-filter: blur( 20px );
     //border-radius: 5px;
     border: 1px solid rgba( 255, 255, 255, 0.18 );
     text-align: center;
     font-size: 22px;
 }*/
 
 .flex-container-inicio {
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
    margin-bottom: 3rem;
    text-align: center;
    justify-content:space-evenly;
}

.inscripcion {
    margin-right: 80px;
    margin-left: 80px;
    //margin-top: 20px; 
    //background-image: linear-gradient(-225deg, #69EACB 0%, #EACCF8 48%, #6654F1 100%);
    background-color: rgba(112, 176, 240, 0.767);
    //box-shadow: 0.1rem 0.125rem 0.3125rem 0 rgba(1, 1, 3, 0.801);
    
    & ul{
        margin: 0.6250rem;
        padding: 0.6250rem;
        text-align: justify;
            
        li{
            list-style-type: none;
            line-height: 1.875rem; 
        }    
    }

/*&:hover{
    background: cadetblue;
    }*/
}

.importante {
    @extend .inscripcion; 
    margin-top: 10px;
}

// .btnbiblioteca {
//     @include unipe;
    
// &:hover{
//     transform: scale(1.1);
// }
// }