 .bienvenida {
     @extend .autoridades;
     @include plan;
     text-align: center;
     font-size: 18px;
 }
 
 .flex-container-inicio {
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
    margin-bottom: 3rem;
    text-align: center;
    justify-content:space-evenly;
}

.inscripcion {
    margin-right: 50px;
    margin-left: 50px;
    margin-top: 20px; 
    border-radius: 0.3125rem;
    background-image: linear-gradient(-225deg, #69EACB 0%, #EACCF8 48%, #6654F1 100%);
    box-shadow: 0 0.125rem 0.3125rem 0 rgba(31, 38, 135, 0.37);
    
    & ul{
        margin: 0.6250rem;
        padding: 0.6250rem;
        text-align: justify;
            
        li{
            list-style-type: none;
            line-height: 1.875rem; 
        }    
    }

&:hover{
    background: cadetblue;
    }
}

.importante {
    @extend .inscripcion; 
}

// .btnbiblioteca {
//     @include unipe;
    
// &:hover{
//     transform: scale(1.1);
// }
// }