.flex-container-inicio {
  display: flex;
  flex-direction: column;
  margin-top: 25px;
  text-align: center;
  justify-content: center;
}

.inscripcion {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 25px;
  padding-top: 5px;
  background-image: linear-gradient(
    -225deg,
    #69eacb 0%,
    #eaccf8 48%,
    #6654f1 100%
  );
  box-shadow: 0.1rem 0.125rem 0.3125rem 0 rgba(1, 1, 3, 0.801);
}

.contenedor-plan-inscrip {
  display: flex;
  flex-direction: row;
  border-radius: 5px;
  box-shadow: 0 0.125rem 0.3125rem 0 rgba(2, 0, 0, 0.678);
  background-color: #79ade0;
  align-items: center;
  justify-content: space-evenly;
  width: 400px;
  height: 180px;
  padding: 20px;
  margin-top: 5px;
  margin-bottom: 5px;
  font-weight: bold;
}

.contenido {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  margin-top: 10px;
  margin-left: 20px;
  align-items: center;
  justify-content: center;
}

.plan-imagen img {
  height: 120px;
  border-radius: 10px;
}

.boton-inscripcion {
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: center;
  padding-top: 10px;
}

.btninscripcion {
  padding: 5px;
  text-align: center;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 5px;
  box-shadow: 0 0.2rem 0.4rem 0 rgba(2, 0, 0, 0.678);
  background-color: #5b95cf;
}

.btninscripcion:hover {
  background-position-x: -150%;
  transition: background-position-x 600ms;
}

.inscripciones-vigentes {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  margin-top: 5px;
}

.infod {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: rgb(0, 0, 0);
  font-size: 25px;
  align-self: flex-start;
  margin-top: 35px;
  padding-left: 10px;
}

.PRE {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: rgb(12, 0, 0);
  font-size: 30px;
  text-shadow: 0px, 0px, 100px;
  animation: animate 2s infinite linear;
}

@keyframes animate {
  0%,
  100% {
    color: #62aefa;
  }

  25% {
    color: #4398ec;
  }

  50% {
    color: #3a07f3;
  }

  75% {
    color: rgb(0, 0, 0);
  }
}

.cursosinfod {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
