html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
}

a:link  { 
    text-decoration: none;
    color: black;
}

.logo {
    position: relative;
    z-index: 100;
    justify-content: center;
}

.nombreinstituto{
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-size: 1rem;
    font-weight: bold;
    position: relative;
    text-align: right;
}

nav .navbar-nav li a{
    color: black !important;
    }

h2{
    color: black;
    font-size: 1.2500rem;
    text-decoration: underline;
    background-image: linear-gradient(-225deg, #69EACB 0%, #EACCF8 48%, #6654F1 100%);
}

h3,
h4 {
    color: black;
    font-size: large;
}

h5 {
    color: black;
    font-size: 1.2500rem;
    background: rgb(108, 165, 231);
    box-shadow: 0 2px 5px 0 rgba(31, 38, 135, 0.37);
    text-decoration: underline;
    margin-top: 0.9375rem;
}

.flex-container-inicio {
    display: flex ;
    flex-direction: row;
    margin-top: 1.2500rem;
    padding-bottom: 0.6250rem;
    justify-content:space-evenly;
}

.novedades {
    border-radius: 0.3125rem;
    background-image: linear-gradient(-225deg, #69EACB 0%, #EACCF8 48%, #6654F1 100%);
    box-shadow: 0 0.125rem 0.3125rem 0 rgba(31, 38, 135, 0.37);
    width: 25rem;
    height: 25rem;
    margin-top: 0.3125rem;    

    & ul{
        margin: 0.6250rem;
        padding: 0.6250rem;
        text-align: justify;
            
        li{
            list-style-type: none;
            line-height: 1.875rem; 
        }    
    }

&:hover{
    background: cadetblue;
    }
}

.importante{
    border-radius: 0.3125rem;
    background-image: linear-gradient(-225deg, #69EACB 0%, #EACCF8 48%, #6654F1 100%);
    box-shadow: 0 0.125rem 0.3125rem 0 rgba(31, 38, 135, 0.37);
    width: 25rem;
    height: 25rem;
    margin-top: 0.3125rem;  

    & ul{
        margin: 0.6250rem;
        padding: 0.6250rem;
        text-align: justify;
   
        li{
            list-style-type: none;
            line-height: 1.875rem;
        }
    }

&:hover{
    background: cadetblue;
    } 
}

//APLICAN A NUESTRA HISTORIA//
.fotofrente{
    border: 0.1875rem solid black;
    display: flex;
    flex-direction: row;
    float: right;
    margin-top: -20rem;
    transition: transform 3s;

    & :hover{
        transform: scale(1.2);
    }
}

.historia{
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
}

.capdistancia{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: justify;
}

.nuestro{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
}

.lic{
    font-weight: bold; 
}

// GRID OFERTA EDUCATIVA
.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 0fr 1fr 0fr 1fr;
    gap: 1.2500rem 0.3125rem;
    grid-template-areas:
        "one one one one one"
        "two three four five six"
        "seven seven seven seven seven"
        "eight nine ten eleven twelve";
    padding-bottom: 0.6250rem;

    .one{
        margin-top: 0.9375rem;
        animation-name: animate__tada;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in;
        animation-duration: 4s;
        font-size: 1rem;
        font-weight: bold;
        background: rgba(146, 192, 248, 0.35);
        border-radius: 0.3125rem;
        justify-self: center;
        align-self: center;
        grid-area: one;
    }
    
    @keyframes animate__tada{
        0%{
            transform: scale (1);
        }
    
        25%{
            transform: scale(1.2);
        }
    
        50%{
            transform: scale(1);
        }
    
        75%{
            transform: scale(1.2npm init);
        }
    
        100%{
            transform: scale(1);
        }
    }
    
    .two{
        background: rgba(146, 192, 248, 0.35);
        border-radius: 0.3125rem;
        text-align: center;
        justify-items: stretch;
        align-items: stretch;
        align-content: space-between;
        grid-area: two;
    }
    
    .three{
        background: rgba(146, 192, 248, 0.35);
        border-radius: 0.3125rem;
        text-align: center;
        justify-items: stretch;
        align-items: stretch;
        grid-area: three;
    }
    
    .four{
        background: rgba(146, 192, 248, 0.35);
        border-radius: 0.3125rem;
        text-align: center;
        justify-items: stretch;
        align-items: stretch;
        grid-area: four;
    }
    
    .five{
        background: rgba(146, 192, 248, 0.35);
        border-radius: 0.3125rem;
        text-align: center;
        justify-items: stretch;
        align-items: stretch;
        grid-area: five;
    }
    
    .six{
        background: rgba(146, 192, 248, 0.35);
        border-radius: 0.3125rem;
        text-align: center;
        justify-items: stretch;
        align-items: stretch;
        grid-area: six;
    }
    
    .seven{
        animation-name: animate__tada;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in;
        animation-duration: 4s;
        font-size: 1rem;
        font-weight: bold;
        background: rgba(146, 192, 248, 0.35);
        border-radius: 0.3125rem;
        justify-self: center;
        align-self: center;
        grid-area: seven;
    }
    
    .eight{
        background: rgba(146, 192, 248, 0.35);
        border-radius: 0.3125rem;
        text-align: center;
        justify-items: stretch;
        align-items: stretch;
        grid-area: eight;
    }
    
    .nine{
        background: rgba(146, 192, 248, 0.35);
        border-radius: 0.3125rem;
        text-align: center;
        justify-items: stretch;
        align-items: stretch;
        grid-area: nine;
    }
    
    .ten{
        background: rgba(146, 192, 248, 0.35);
        border-radius: 0.3125rem;
        text-align: center;
        justify-items: stretch;
        align-items: stretch;
        grid-area: ten;
    }
    
    .eleven{
        background: rgba(146, 192, 248, 0.35);
        border-radius: 0.3125rem;
        text-align: center;
        justify-items: stretch;
        align-items: stretch;
        grid-area: eleven;
    }
}

/*.twelve { 
    background: rgba(146, 192, 248, 0.35); 
    justify-self: center; 
    align-self: stretch; 
    text-align: center;
    grid-area: twelve; 
} */

// TERMINA GRID OFERTA EDUCATIVA

// Aplican sólo a página contacto 
//EMPIEZA FORMULARIO
 
label {
    display:block;
    margin-top: 0.9375rem;
    letter-spacing: 0.0625rem;
}
 
.principal {
    display: block;
    margin: 0 auto;
    width: 31.875rem;
    color: #666666;
    font-family:Arial;
}
 
form {
    margin: 0 auto;
    width: 25rem;
}
 
input, textarea {
    width: 23.75rem;
    height: 1.6875;
    background: #aedaf7;
    border: 0.125rem solid #aedaf7;
    padding: 0.6250rem;
    margin-top: 0.3125rem;
    font-size: 0.6250rem;
    color: #050505;
}
 
textarea {
    height: 9.375rem;
}
 
#submit {
    width: 23.75rem;
    height: 2.1875rem;
    border: none;
    margin-top: 0.6250rem;
    margin-bottom: 0.6250rem;
    cursor: pointer;
}

//TERMINA FORMULARIO
 .iframe {
     margin-top: 1.875rem;
 }

.flex-container-contacto{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

//FOOTER
.footer {
    margin-top: 5%;
    bottom:0%;
    width:100%;
    z-index: 100;
}

.footerhistoria {
    position: relative;
    bottom:0%;
    width:100%;
    z-index: 100;
}

.flex-container-footer{
    background-color: #e7ebee;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.c, .d{
    text-align:center;
    line-height: 0rem;  
}

.redes{
    display: flex;
    flex-direction: row;
}

.instagram{
    margin-left: 0.9375rem;
    margin-right: 0.9375rem;
}

.whatsapp:hover,
.instagram:hover,
.facebook:hover{
    transform: scale(1.5);
}

// MEDIAQUERIES 
@media screen and (max-width: 480px){
    // GENERAL A TODAS LAS PAGS 
    h1,
    header nav ul li{
        box-shadow: 0 2px 5px 0 rgba(33, 30, 223, 0.37);
        backdrop-filter: blur(20px);
        -webkit-backdrop-filter: blur(20px);
        border: 1px solid rgba(255, 255, 255, 0.18);
        border-radius: 20px;
        background: rgba(130, 194, 231, 0.781);
        background-size: contain;
    }

    // INDEX 
    .flex-container-inicio{
        flex-direction: column;
        align-items: center;
    }

    .novedades,
    .importante{
        flex-direction: column;
        align-items: center;
        width: auto;
        height: auto;
    }

    // NUESTRA HISTORIA 
    .fotofrente{
        display: none;
    }

    // OFERTA EDUCATIVA 
    .one,
    .seven{
        background-color: rgb(205, 203, 228);
    }

    .container{
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-items: center;
        background-color: rgb(7, 75, 114);
        grid-template: subgrid ;
        /* grid-template-columns: repeat(2, 20%);
        grid-template-rows: repeat(2, 20%); */
        text-decoration: cornsilk; 
    }

    .two,
    .three,
    .four,
    .five,
    .six,
    .eight,
    .nine,
    .ten,
    .eleven{
        background-image: radial-gradient(rgb(255, 255, 255), red);
        box-shadow: 0 2px 5px 0 rgba(157, 222, 252, 0.37);
        backdrop-filter: blur(20px);
        -webkit-backdrop-filter: blur(20px);
        border: 5px solid rgba(255, 255, 255, 0.18);
        display: grid;
    }

    // PAGINA CONTACTO 
    .flex-container-contacto{
        flex-direction: column;
        align-items: center;
    }

    // FOOTER 


    .c, .d{
        flex-direction: column;
        align-items: center;
    }
    .redes {
        flex-direction: row;
        align-items: center;
    }
}

@media screen and (max-width: 768px){
    // GENERAL A TODAS LAS PAGS
    h1,
    header nav ul li{
        box-shadow: 0 2px 5px 0 rgba(63, 60, 219, 0.658);
        backdrop-filter: blur(20px);
        -webkit-backdrop-filter: blur(20px);
        border: 1px solid rgba(255, 255, 255, 0.18);
        border-radius: 20px;
    }

    h1{
        text-shadow: 2px 1px #ffffff;
    }

    // NUESTRA HISTORIA
    .fotofrente{
        width: auto;
    }

    .lic1,
    .lic,
    h2,
    ul li{
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }

    // OFERTA EDUCATIVA 
    .one,
    .seven{
        background-color: rgb(205, 203, 228);
    }

    .container{
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-items:auto;
        background-color: rgb(88, 4, 56);
        grid-template-columns: repeat(2, 20%);
        grid-template-rows: repeat(2, 20%);
        text-decoration: cornsilk;
    }

    .two,
    .three,
    .four,
    .five,
    .six,
    .eight,
    .nine,
    .ten,
    .eleven{
        background-image: radial-gradient(rgb(255, 255, 255), red);
        box-shadow: 0 2px 5px 0 rgba(214, 119, 238, 0.37);
        border-radius: 15px;
        backdrop-filter: blur(20px);
        -webkit-backdrop-filter: blur(20px);
        border: 0.6250rem solid rgba(255, 255, 255, 0.18);
    }

    // PAGINA CONTACTO
    .flex-container-contacto{
        flex-direction: column;
        align-items: center;
    }

    // FOOTER  
    .flex-container-footer{
        flex-direction: row;
        align-items: center;
    }
    
    .c, .d{
        flex-direction: column;
        align-items: center;
    }

    .redes {
        flex-direction: row;
        align-items: center;
    }
}

@media screen and (min-width: 1024px){
    h1
    // header nav ul li{
        {
        box-shadow: 0 2px 5px 0 rgba(33, 30, 223, 0.37);
        backdrop-filter: blur(20px);
        -webkit-backdrop-filter: blur(20px);
        border: 1px solid rgba(255, 255, 255, 0.18);
        border-radius: 20px;
    }

    // GENERAL A TODAS LAS PAGS 
    
    // OFERTA EDUCATIVA 
    .one,
    .seven{
        background-color: rgb(205, 203, 228);
    }

    .container{
        // background-color: rgb(137, 183, 252);
        grid-template-columns: repeat(auto-fill, 20%);
        grid-template-rows: repeat(auto-fill, 20%);
    }

    .two,
    .three,
    .four,
    .five,
    .six,
    .eight,
    .nine,
    .ten,
    .eleven{
        background-image: radial-gradient(rgb(255, 255, 255), red);
        box-shadow: 0 2px 5px 0 rgba(31, 38, 135, 0.37);
        backdrop-filter: blur(20px);
        -webkit-backdrop-filter: blur(20px);
        border: 1px solid rgba(255, 255, 255, 0.18);
    }

    // FOOTER 
    .flex-container-footer{
        bottom: 0;
    }

    // PAGINA CONTACTO 
    // .flex-container-contacto{
    //     flex-direction: column;
    //     align-items: center;
    // }
}

// CAMBIOS - SALEN

// .nav a{
//     text-decoration: none;
//     color: black;

//     &a:hover{
//         color: rgb(255, 255, 255);
//     }
// }

// .header nav{
//     margin-top: -5px;
//     text-decoration: none;
// }

// .header nav ul{
//     background-color: #87C5FF;
//     text-decoration-color: ivory;
//     display: flex;
//     align-items: center;
//     justify-content: space-around;

//     li{
//         list-style-type: none;
//         display: inline ;
//         font-size: 18px;  
//     }
// }

// BIBLIOUNIPE
// .flex-container-bibliouni{
//     display: flex;
//     flex-direction: row;
//     justify-content: center;
//     margin-top: 10px;
//     padding-bottom: 10px;
//     justify-content: space-around;
//     align-content: space-evenly;

//     .biblio{
//         border-radius: 5px;
//         background: rgba(146, 192, 248, 0.35);
//         box-shadow: 0 2px 5px 0 rgba(31, 38, 135, 0.37);
//         width: 300px;
//         height: 300px;
//         margin-top: 5px;
//         text-decoration-color: black;
//     }
    
//     .bibliob{
//         border-radius: 5px;
//         background: rgba(146, 192, 248, 0.35);
//         box-shadow: 0 2px 5px 0 rgba(31, 38, 135, 0.37);
//         width: 300px;
//         height: 300px;
//         margin-top: 5px;
//         text-decoration-color: black;
//     }
    
//     .biblioc{
//         border-radius: 5px;
//         background: rgba(146, 192, 248, 0.35);
//         box-shadow: 0 2px 5px 0 rgba(31, 38, 135, 0.37);
//         width: 300px;
//         height: 300px;
//         margin-top: 5px;
//         text-decoration-color: black;
//     }
    
//     .bibliod{
//         border-radius: 5px;
//         background: rgba(146, 192, 248, 0.35);
//         box-shadow: 0 2px 5px 0 rgba(31, 38, 135, 0.37);
//         width: 300px;
//         height: 300px;
//         margin-top: 5px;
//         text-decoration-color: black;
//     }
// }