html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.logo {
    position: relative;
    z-index: 100;
    justify-content: center;
}

.header nav ul {
    background-color: rgba(146, 192, 248, 0.35);
}

.header nav ul li {
    list-style-type: none;
    display: inline-block;
    margin-left: 70px;
    font-size: 18px;
    width: auto;
    height: auto;
}

a:link {
    text-decoration: none;
    ;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-size: 33px;
    text-decoration: underline;
    position: relative;
    margin-top: -50px;
    text-align: right;
}

h2 {
    color: black;
    font-size: 20px;
    text-decoration: underline;
    background-image: linear-gradient(-225deg, #69EACB 0%, #EACCF8 48%, #6654F1 100%);
}

h3,
h4 {
    color: black;
    font-size: large;
}

h5 {
    color: black;
    font-size: 20px;
    background: rgb(108, 165, 231);
    box-shadow: 0 2px 5px 0 rgba(31, 38, 135, 0.37);
    text-decoration: underline;
}

.flex-container-inicio {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 10px;
    padding-bottom: 10px;
    justify-content: space-around;
}

.a {
    border-radius: 5px;
    background-image: linear-gradient(-225deg, #69EACB 0%, #EACCF8 48%, #6654F1 100%);
    box-shadow: 0 2px 5px 0 rgba(31, 38, 135, 0.37);
    width: 500px;
    height: 350px;
    margin-top: 5px;
    text-decoration: black
}

.a:hover {
    background: cadetblue;

}

.b {
    border-radius: 5px;
    background-image: linear-gradient(-225deg, #69EACB 0%, #EACCF8 48%, #6654F1 100%);
    box-shadow: 0 2px 5px 0 rgba(31, 38, 135, 0.37);
    width: 500px;
    height: 350px;
    margin-top: 5px;
}

.b:hover {
    background: cadetblue;
}

.a ul li {
    list-style-type: none;
    line-height: 30px;

}

.b ul li {
    list-style-type: none;
    line-height: 30px;
}

/*APLICAN A NUESTRA HISTORIA*/
.fotofrente {
    border: 3px solid black;
    display: flex;
    flex-direction: row;
    float: right;
    margin-top: -312px;
    margin-right: 0px;
    transition: transform 3s;
}

.fotofrente:hover {
    transform: scale(1.5);
}

.linea {
    border-top: 3px solid black;
    height: 4px;
    max-width: 720px;
    padding: 0;
    margin: 0;
}

.historia {
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
}

.capdistancia {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: justify;
}

.nuestro {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
}

.lic1 {
    font-weight: bold;
}

.lic {
    font-weight: bold;
}

/* GRID OFERTA EDUCATIVA */
.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 0fr 1fr 0fr 1fr;
    gap: 20px 5px;
    grid-template-areas:
        "one one one one one"
        "two three four five six"
        "seven seven seven seven seven"
        "eight nine ten eleven twelve";
    padding-bottom: 10px;
}

.one {
    animation-name: animate__tada;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
    animation-duration: 4s;
    font-size: 18px;
    font-weight: bold;
    background: rgba(146, 192, 248, 0.35);
    border-radius: 5px;
    justify-self: center;
    align-self: center;
    grid-area: one;
}

@keyframes animate__tada {
    0% {
        transform: scale (1);
    }

    25% {
        transform: scale(1.5);
    }

    50% {
        transform: scale(1);
    }

    75% {
        transform: scale(1.5);
    }

    100% {
        transform: scale(1);
    }
}

.two {
    background: rgba(146, 192, 248, 0.35);
    border-radius: 5px;
    text-align: center;
    justify-items: stretch;
    align-items: stretch;
    align-content: space-between;
    grid-area: two;
}

.three {
    background: rgba(146, 192, 248, 0.35);
    border-radius: 5px;
    text-align: center;
    justify-items: stretch;
    align-items: stretch;
    grid-area: three;
}

.four {
    background: rgba(146, 192, 248, 0.35);
    border-radius: 5px;
    text-align: center;
    justify-items: stretch;
    align-items: stretch;
    grid-area: four;
}

.five {
    background: rgba(146, 192, 248, 0.35);
    border-radius: 5px;
    text-align: center;
    justify-items: stretch;
    align-items: stretch;
    grid-area: five;
}

.six {
    background: rgba(146, 192, 248, 0.35);
    border-radius: 5px;
    text-align: center;
    justify-items: stretch;
    align-items: stretch;
    grid-area: six;
}

.seven {
    animation-name: animate__tada;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
    animation-duration: 4s;
    font-size: 18px;
    font-weight: bold;
    background: rgba(146, 192, 248, 0.35);
    border-radius: 5px;
    justify-self: center;
    align-self: center;
    grid-area: seven;
}

.eight {
    background: rgba(146, 192, 248, 0.35);
    border-radius: 5px;
    text-align: center;
    justify-items: stretch;
    align-items: stretch;
    grid-area: eight;
}

.nine {
    background: rgba(146, 192, 248, 0.35);
    border-radius: 5px;
    text-align: center;
    justify-items: stretch;
    align-items: stretch;
    grid-area: nine;
}

.ten {
    background: rgba(146, 192, 248, 0.35);
    border-radius: 5px;
    text-align: center;
    justify-items: stretch;
    align-items: stretch;
    grid-area: ten;
}

.eleven {
    background: rgba(146, 192, 248, 0.35);
    border-radius: 5px;
    text-align: center;
    justify-items: stretch;
    align-items: stretch;
    grid-area: eleven;
}

/* .twelve { 
    background: rgba(146, 192, 248, 0.35); 
    justify-self: center; 
    align-self: stretch; 
    text-align: center;
    grid-area: twelve; 
} */

/* TERMINA GRID OFERTA EDUCATIVA */

/* Aplican sólo a página contacto */
/*EMPIEZA FORMULARIO*/

.principal {
    display: block;
    width: 510px;
    color: rgb(188, 221, 255);
    font-family: Arial, Helvetica, sans-serif;
}

form {
    /* margin-top: 100px; */
    width: 400px;
}

input,
textarea {
    width: 350px;
    height: 7px;
    background: rgba(146, 192, 248, 0.35);
    border: 2px solid #f6f6f6;
    padding: 10px;
    margin-top: 5px;
    font-size: 10px;
    color: #ffffff;
}

textarea {
    height: 130px;
}

#submit {
    display: block;
    width: 372px;
    height: 30px;
    border: none;
    margin-top: 5px;
    font-size: 12px;
    color: rgb(8, 8, 8);
    cursor: pointer;
    letter-spacing: 1px;
}
/*TERMINA FORMULARIO*/

iframe {
    border-radius: 5px;
}

.flex-container-contacto {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

/*FOOTER*/
.footer {
    z-index: 100;
    bottom: 2%;
    width: 100%;
    height: auto;
    margin-top: 10px;
    box-shadow: 0 12px 5px 0 rgba(31, 38, 135, 0.37);
}

.flex-container-footer {
    background-color: rgba(146, 192, 248, 0.35);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 0%;
    margin: 0%;
}

.c {
    text-align: center;
    line-height: 0px;
}

.d {
    text-align: center;
    line-height: 0px;
}

/* MEDIAQUERIES */
@media screen and (max-width: 480px) {

    /* GENERAL A TODAS LAS PAGS */
    h1,
    header nav ul li {
        background: rgb(57, 171, 236);
        background-size: contain;
    }

    /* INDEX */
    .flex-container-inicio {
        flex-direction: column;
        align-items: center;
    }

    .a,
    .b {
        flex-direction: column;
        align-items: center;
        width: auto;
        height: auto;
    }

    /* NUESTRA HISTORIA */
    .fotofrente {
        display: none;
    }

    /* OFERTA EDUCATIVA */
    .one,
    .seven {
        background-color: rgb(205, 203, 228);
    }

    .container {
        background-color: rgb(13, 138, 211);
        grid-template-columns: repeat(2, 20%);
        grid-template-rows: repeat(2, 20%);
        text-decoration: cornsilk;
    }

    .two,
    .three,
    .four,
    .five,
    .six,
    .eight,
    .nine,
    .ten,
    .eleven {
        background-image: radial-gradient(rgb(255, 255, 255), red);
        box-shadow: 0 2px 5px 0 rgba(31, 38, 135, 0.37);
        backdrop-filter: blur(20px);
        -webkit-backdrop-filter: blur(20px);
        border: 5px solid rgba(255, 255, 255, 0.18);
    }

    /* PAGINA CONTACTO */
    .flex-container-contacto {
        flex-direction: column;
        align-items: center;
    }

    /* FOOTER */
    .flex-container-footer {
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width: 768px) {
    /* GENERAL A TODAS LAS PAGS */
    h1,
    nav ul li {
        text-shadow: 2px 1px #ffffff;
    }

    /* NUESTRA HISTORIA */
    .fotofrente {
        width: auto;
    }

    .lic1,
    .lic,
    h2,
    ul li {
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }

    /* OFERTA EDUCATIVA */
    .one,
    .seven {
        background-color: rgb(205, 203, 228);
    }

    .container {
        background-color: rgb(211, 13, 135);
        grid-template-columns: repeat(2, 20%);
        grid-template-rows: repeat(2, 20%);
        text-decoration: cornsilk;
    }

    .two,
    .three,
    .four,
    .five,
    .six,
    .eight,
    .nine,
    .ten,
    .eleven {
        background-image: radial-gradient(rgb(255, 255, 255), red);
        box-shadow: 0 2px 5px 0 rgba(31, 38, 135, 0.37);
        border-radius: 15px;
        backdrop-filter: blur(20px);
        -webkit-backdrop-filter: blur(20px);
        border: 100px solid rgba(255, 255, 255, 0.18);
    }

    /* PAGINA CONTACTO */
    .flex-container-contacto {
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width: 1024px) {

    /* GENERAL A TODAS LAS PAGS */
    h1,
    header nav ul li {
        box-shadow: 0 2px 5px 0 rgba(33, 30, 223, 0.37);
        backdrop-filter: blur(20px);
        -webkit-backdrop-filter: blur(20px);
        border: 1px solid rgba(255, 255, 255, 0.18);
        border-radius: 20px;
    }

    /* OFERTA EDUCATIVA */
    .one,
    .seven {
        background-color: rgb(205, 203, 228);
    }

    .container {
        background-color: rgb(0, 208, 223);
        grid-template-columns: repeat(auto-fill, 20%);
        grid-template-rows: repeat(auto-fill, 20%);
    }

    .two,
    .three,
    .four,
    .five,
    .six,
    .eight,
    .nine,
    .ten,
    .eleven {
        background-image: radial-gradient(rgb(255, 255, 255), red);
        box-shadow: 0 2px 5px 0 rgba(31, 38, 135, 0.37);
        backdrop-filter: blur(20px);
        -webkit-backdrop-filter: blur(20px);
        border: 1px solid rgba(255, 255, 255, 0.18);
    }

    /* PAGINA CONTACTO */
    .flex-container-contacto {
        flex-direction: column;
        align-items: center;
    }
}